In [3]:
## For loop
num =[10,23,35,46,38,91]
for number in num:
    print(num)

[10, 23, 35, 46, 38, 91]
[10, 23, 35, 46, 38, 91]
[10, 23, 35, 46, 38, 91]
[10, 23, 35, 46, 38, 91]
[10, 23, 35, 46, 38, 91]
[10, 23, 35, 46, 38, 91]

In [5]:
## For loop
value =("file" "sample")
for number in value:
    print(value)

filesample
filesample
filesample
filesample
filesample
filesample
filesample
filesample
filesample
filesample

In [9]:
value =int(11)
for number in value:
    print(value)

TypeError: 'int' object is not iterable

In [11]:
value =[1,4,5]
for number in value:
    print(value)

[1, 4, 5]
[1, 4, 5]
[1, 4, 5]

In [13]:
for number in False:
    print(value)

TypeError: 'bool' object is not iterable

In [15]:
for number in None:
    print(value)

TypeError: 'NoneType' object is not iterable

In [17]:
for number in 12.5:
    print(value)

TypeError: 'float' object is not iterable

In [19]:
for number in 12:
    print(value)

TypeError: 'int' object is not iterable

In [29]:
value = {"name":"A", "address":"HYD"}
for number in value:
    print(number)

name
address

In [27]:
for number in []:
    print(value)
print("hello")

hello

In [33]:
numbers = [10,-5,6,-10,9,0]
for num in numbers:
    if num>=0:
        print(num,"+ve")
    else:
        print(num,"-VE")
print("Done")

10 +ve
-5 -VE
6 +ve
-10 -VE
9 +ve
0 +ve
Done

In [39]:
numbers = [10,-5,6,-10,9,0]
p_n=0
n_n=0
for num in numbers:
    if num>=0:
        p_n=p_n+1
    else:
        n_n=n_n+1
print(p_n)
print(n_n)

4
2

In [1]:
for i in "1234":
    if i=="2":
        print("Hi")
print("hello")

Hi
hello

In [3]:
for i in "1234":
    break
    if i=="2":
        print("Hi")
print("hello")

hello

In [9]:
for i in "1234":
    if i in"23":
        print("Hi")
    else:
        print("How are you")
print("hello")

How are you
Hi
Hi
How are you
hello

In [11]:
for i in "1234":
    if i in"23":
        print("Hi")
    else:
        print("How are you")
        break
print("hello")

How are you
hello

In [13]:
for i in "1234":
    if i in"23":
        print("Hi")
        break
    else:
        print("How are you")
print("hello")

How are you
Hi
hello

In [15]:
for i in "1234":
    if i in"23":
        print("Hi")
    else:
        print("How are you")
    break
print("hello")

How are you
hello

In [46]:
l =[10,-20,-30,45,67,-56]
# print each num +ve 
# how many +ve num are there
# does it has -Ve numb
i_n=0
for i in l:
    if i>=0:
        i_n=i_n+1
print(i_n)

3

In [54]:
l =[10,-20,-30,45,67,-56]
# print each num +ve 
# how many +ve num are there
# does it has -Ve numb
i_n=0
for i in l:
    if i<0:
        i_n=i_n+1
print(i_n, "-ve num")

3 -ve num

In [ ]:
l =[10,-20,-30,45,67,-56]
# print each num +ve 
# how many +ve num are there
# does it has -Ve numb
i_n=0
for i in l:
    print(i_n)
    if i<0:
        i_n=i_n+1
if i_n==0:
    print("it doesnothas -ve num")
else:
print(i_n, "-ve num"

In [3]:
def add(x,y):
    z=x+y
    print(f"x={x}, y={y},z={z}")
def sub(x,y):
    z=x-y
    print(f"x={x}, y={y},z={z}")
def mul(x,y):
    z=x*y
    print(f"x={x}, y={y},z={z}")
res1 = add(10,20)
res2 = sub(10,20)
res3 = mul(10,20)
print(res1,res2,res3)

x=10, y=20,z=30
x=10, y=20,z=-10
x=10, y=20,z=200
None None None

In [5]:
def add(x,y):
    z=x+y
    print(f"x={x}, y={y},z={z}")
    return "A"
def sub(x,y):
    z=x-y
    print(f"x={x}, y={y},z={z}")
    return "B"
def mul(x,y):
    z=x*y
    print(f"x={x}, y={y},z={z}")
    return "C|"
res1 = add(10,20)
res2 = sub(10,20)
res3 = mul(10,20)
print(res1,res2,res3)

x=10, y=20,z=30
x=10, y=20,z=-10
x=10, y=20,z=200
A B C|

In [7]:
def add(x,y):
    z=x+y
    print(f"x={x}, y={y},z={z}")
    return "A"
def sub(x,y):
    z=x-y
    print(f"x={x}, y={y},z={z}")
    return "B"
def mul(x,y):
    z=x*y
    print(f"x={x}, y={y},z={z}")
    return z
res1 = add(10,20)
res2 = sub(10,20)
res3 = mul(10,20)
print(res1,res2,res3)

x=10, y=20,z=30
x=10, y=20,z=-10
x=10, y=20,z=200
A B 200

In [9]:
def add(x,y):
    z=x+y
    print("result=",z)
res = add(1,2)
print("res=",res)

result= 3
res= None

In [11]:
def add(x,y):
    z=x+y
    print("result=",z)
    return z
res = add(1,2)
print("res=",res)

result= 3
res= 3

In [15]:
def operations(x,y):
    z=x+y
    a= x-y
    c=x*y
    return a
res = operations(1,2)
print("result=",res)

result= -1

In [17]:
def operations(x,y):
    z=x+y
    a= x-y
    c=x*y
    return a,c,z
res = operations(1,2)
print("result=",res)

result= (-1, 2, 3)

In [19]:
def operations(x,y):
    z=x+y
    return z
    print("Hi")
    a= x-y
    return a
    print("HYD")
    c=x*y
    return c
res = operations(1,2)
print("result=",res)

result= 3

In [21]:
def operations(x,y):
    z=x+y
    print("Hi")
    return z
    a= x-y
    return a
    print("HYD")
    c=x*y
    return c
res = operations(1,2)
print("result=",res)

Hi
result= 3

In [27]:
def fun(x):
    print("Hi")
    if x>0:
        return "hello"
        print("H")
    else:
        return "HYD"
        print("I")
res = fun(10)
print("result=",res)
res1=fun(-10)
print("result=", res1)

Hi
result= hello
Hi
result= HYD