In [1]:
a=1000
b=a
c=1000
b=2000
print(id(a))
print(id(b))
print(id(c))
print(id(b))

1980468086288
1980468087856
1980468088336
1980468087856

In [3]:
s="hyderabad"
s1=s
k="pat"
n=1000
L=[s,s1,k,1000,2000]
m=10
t=(10,20,30)
s=3000
s1=4000
k=5000
print(id(s))
print(id(s1))
print(id(k))
print(id(n))
print(id(L))
print(id(m))
print(id(t))
print(id(s))
print(id(s1))
print(id(k))

1980490100496
1980490100592
1980490100688
1980490100432
1980468282112
140717156285144
1980490533568
1980490100496
1980490100592
1980490100688

In [7]:
# can space is allow in refernce name
fruit name-"APPLE"

SyntaxError: invalid syntax (3720913142.py, line 2)

In [16]:
fruit_name = "APPLE"

In [18]:
# what are the special symbols can allow in the refernce name?
only _ will take it as

SyntaxError: invalid syntax (3171481665.py, line 2)

In [20]:
print(True)

True

In [22]:
print(true)

NameError: name 'true' is not defined

In [24]:
print(True)

True

In [26]:
True="SOMETHING"
print(True)

SyntaxError: cannot assign to True (201811720.py, line 1)

In [28]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [36]:
a=1000
print(a,type(a))
a = 1.54
print(a,type(a))
a =True
print(a,type(a))
a = None
print(a,type(a))
a = "python"
print(a,type(a))
a=[1000,200,20]
print(a,type(a))
a=(1000,500,300)
print(a,type(a))
a={1235,4588,8224}
print(a,type(a))
a={"name":"AJA", "address":"HYD"}
print(a,type(a))

1000 <class 'int'>
1.54 <class 'float'>
True <class 'bool'>
None <class 'NoneType'>
python <class 'str'>
[1000, 200, 20] <class 'list'>
(1000, 500, 300) <class 'tuple'>
{8224, 1235, 4588} <class 'set'>
{'name': 'AJA', 'address': 'HYD'} <class 'dict'>

In [38]:
a =1000
b = 2000
c = a + b
print(c)

3000

In [40]:
a = 10
b = "test"
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
a = "test"
b = 10
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

In [44]:
a = "sample"
b = "test"
c = a + b
print(c)

sampletest

In [46]:
a = 10
b = 1.5
c = a + b
print(c)

11.5

In [48]:
a = 1.5
b = 10
c = a + b
print(c)

11.5

In [53]:
a = 10
b = True
c = a + b
print(c)

11

In [55]:
a = True
b = 10
c = a + b
print(c)

11

In [57]:
a = 10
b = [1,2,3]
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [59]:
a = [1,2,3]
b = 10
c = a + b
print(c)

TypeError: can only concatenate list (not "int") to list

In [61]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [63]:
a = [1,2,3]
b = (10,"str",1.5)
c = a + b
print(c)

TypeError: can only concatenate list (not "tuple") to list

In [65]:
a = (10,"str",1.5)
b = (10,"str",1.5)
c = a + b
print(c)

(10, 'str', 1.5, 10, 'str', 1.5)

In [67]:
a = 10
b = (10,"str",1.5)
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [69]:
a = 10
b={"name":"AJA", "address":"HYD"}
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'dict'

In [73]:
a = {"name":"AJA", "address":"HYD"}
b= {"name":"AJA", "address":"HYD"}
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [75]:
a = {"name":"AJA", "address":"HYD"}
b= 10
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'int'

In [37]:
a = {"name":"AJA", "address":"HYD"}
b= {8224, 1235, 4588}
c = a / b
print(c)

TypeError: unsupported operand type(s) for /: 'dict' and 'set'

In [31]:
a = {8224, 1235, 4588}
b= {"name":"AJA", "address":"HYD"}
c = a * b
print(c)

TypeError: unsupported operand type(s) for *: 'set' and 'dict'

In [25]:
a = {8224, 1235, 4588}
b= 10
c = a * b
print(c)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [83]:
a = {8224, 1235, 4588}
b= 10.5
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'float'

In [85]:
a = 10
b= {8224, 1235, 4588}
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'set'

In [87]:
a = 10.5
b= {8224, 1235, 4588}
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'float' and 'set'

In [43]:
a = "test"
b= {8224, 1235, 4588}
c = a * b
print(c)

TypeError: can't multiply sequence by non-int of type 'set'

In [49]:
a = {8224, 1235, 4588}
b= "test"
c = a * b
print(c)

TypeError: can't multiply sequence by non-int of type 'set'

In [51]:
a = {8224, 1235, 4588}
b= {"name":"AJA", "address":"HYD"}
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'dict'

In [53]:
a = {"name":"AJA", "address":"HYD"}
b= {8224, 1235, 4588}
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'set'

In [55]:
a = [1000, 200, 20]
b= {8224, 1235, 4588}
c = a + b
print(c)

TypeError: can only concatenate list (not "set") to list

In [57]:
a = [1000, 200, 20]
b= {8224, 1235, 4588}
c = a - b
print(c)

TypeError: unsupported operand type(s) for -: 'list' and 'set'

In [59]:
a =20
b = 10
c = a - b
print(c)

10

In [61]:
a =20
b = 10
c = a * b
print(c)

200

In [63]:
a =20
b = 10
c = a / b
print(c)

2.0

In [65]:
a = {8224, 1235, 4588}
b= True
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'bool'

In [67]:
a = {8224, 1235, 4588}
b= None
c = a * b
print(c)

TypeError: unsupported operand type(s) for *: 'set' and 'NoneType'

In [69]:
a = False
b = 10
c = a - b
print(c)

-10

In [9]:
a = False
b = 10
c = a / b
print(c)

0.0

In [11]:
a = False
b = 10
c = a * b
print(c)

0

In [1]:
print(2*"python")

pythonpython

In [3]:
print(2*[1,2,3,4])

[1, 2, 3, 4, 1, 2, 3, 4]

In [5]:
print(2*{1:2,3,4})

SyntaxError: ':' expected after dictionary key (288671355.py, line 1)

In [7]:
print(1+2+2j)

(3+2j)

In [9]:
print(10<20)

True

In [11]:
print("10"<9)

TypeError: '<' not supported between instances of 'str' and 'int'

In [13]:
print("10"<"9")

True

In [17]:
print("apple"<"ant")

False

In [19]:
print([10,20,30,40]<[100,-20,-30,-40])

True

In [21]:
print([10,20,30]>[10,20,30])

True

In [23]:
print([10,20,30]>[10,20,30])

False

In [29]:
print([1,2,3]<[-10,-20,-30])

False

In [31]:
print({1,2,3}<{-10,-20,-30})

False

In [33]:
print({10,20,30,40})

{40, 10, 20, 30}

In [35]:
a=({10,20,30,40})
print(a(0))

TypeError: 'set' object is not callable

In [37]:
print({1,2,3}>{2,4,5})

False

In [39]:
print(ord("p"))

112

In [49]:
a = 1000
b = a
print(a==b)
print(a is b)

True
True

In [1]:
s=10+20/5*4
print(s)

26.0

In [5]:
s=1000/200/5/2
print(s)

0.5

In [7]:
s=(1000/(200/(5/2)))
print(s)

12.5

In [9]:
a="12a"
b=int(a)
print(b)

ValueError: invalid literal for int() with base 10: '12a'

In [11]:
a="12a"
b=int(a, 16)
print(b)

298